{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <div class="container mt-5">
        

        <!-- Include the form for creating a new course -->
        {{ include('course/_form.html.twig', {'button_label': 'Create'}) }}

        <!-- Link to go back to the list of courses -->
        <div class="text-center mt-4">
            <a href="{{ path('app_course_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

    		<footer class="footer">
			<div class="footer-container">
				<div class="footer-row">
					<div class="footer-col">
						<h4>DHN Studies</h4>
						<ul>
							<li><a href="{{path('app_contact')}}">Contact us</a></li>
							<li><a href="{{path('app_about')}}">about us</a></li>
							<li><a href="#">privacy policy</a></li>
							<li><a href="#">affiliate program</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>get help</h4>
						<ul>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">shipping</a></li>
							<li><a href="#">returns</a></li>
							<li><a href="#">order status</a></li>
							<li><a href="#">payment options</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>online shop</h4>
						<ul>
							<li><a href="#">watch</a></li>
							<li><a href="#">bag</a></li>
							<li><a href="#">shoes</a></li>
							<li><a href="#">dress</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>follow us</h4>
						<div class="social-links">
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="#">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
{% endblock %}
