/* Conteneur principal du pied de page */
.footer-container {
    max-width: 1170px;
    margin: auto;
}

/* Organisation des colonnes du pied de page */
.footer-row {
    display: flex;
    flex-wrap: wrap;
}

/* Liste des éléments dans le pied de page */
.footer ul {
    list-style: none;
}

/* Style général du pied de page */
.footer {
    background-color: rgba(69, 91, 110, 255);
    padding: 70px 0;
}

/* Colonnes du pied de page */
.footer-col {
    width: 25%;
}

/* Titres des colonnes du pied de page */
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

/* Ligne sous le titre de chaque colonne */
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f44336;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

/* Espacement entre les éléments de la liste */
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

/* Liens dans les colonnes du pied de page */
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

/* Liens des réseaux sociaux dans le pied de page */
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #f44336;
}

/* Responsivité pour les écrans de taille moyenne */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

/* Responsivité pour les petits écrans */
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Adaptation des liens dans le pied de page pour les très petits écrans */
@media (max-width: 574px) {
    .footer-col ul li a {
        font-size: 12px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
    }
}

/* Réajustement des colonnes à 25% sur très petits écrans */
@media (max-width: 574px) {
    .footer-col {
        width: 25%;
    }
}
