{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
   

   <div class="dflex justify-content-center">
    {{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}


   
   </div>
{% endblock %}
